.todo {
  display: grid;
  grid-template-areas: 'type subject subject subject subject priority points';
  border: 1px solid blue;
}

.subject {
  grid-area: subject;
}
.type {
  grid-area: type;
}
.priority {
  grid-area: priority;
}
.points {
  grid-area: points;
}
